.dropdown-countainer {
    display: inline-grid;
}

.dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    background: white;
    font-size: 0.8rem;
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.dropdown-list {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    border-top: none;
}

.dropdown-list-item {
    border: none;
    text-align: left;
    background: white;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: normal;
    z-index: -1;
    position: relative;
}
