.dropdown-countainer {
    display: inline-grid;
    position: relative;
    width: 40%;
}

.dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    background: white;
    /* font-size: 1rem; */
    font-weight: normal;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    padding: 5px;
    align-items: center;
}

.dropdown-list {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    /* border-top: none; */
    position: absolute;
    width: 99%;
    /* z-index: 2; */
}

.dropdown-list-item {
    display: flex;
    flex-direction: row;
    border: none;
    text-align: left;
    background: white;
    padding: 5px;
    font-size: 0.8rem;
    font-weight: normal;
    z-index: 1;
    /* width: max-content; */
    /* position: absolute; */
}
