.navbar {
    /* position: absolute; */
    /* left: 255px; */
    height: 90px;
    /* width: calc(100% - 255px); */
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.navbar-button {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    color: #151c15;
    opacity: 0.7;
}

.navbar-button #icon {
    display: grid;
}

.navbar-button #title {
    vertical-align: middle;
}

.navbar-button:hover {
    cursor: pointer;
    border-bottom: 2px solid;
}

.navbar-list #active {
    color: #047b02;
    border-bottom: 2px solid;
}

#notification-icon {
    color: #151c15;
    opacity: 0.7;
}
