.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

* {
    margin: 0;
    padding: 0;
}

.main {
    position: absolute;
    left: 255px;
    width: calc(100% - 255px);
    height: 100%;
    /* display: flex; */
    /* display: flex; */
    /* justify-content: center; */
}
